html(lang="uk")
head 
    title Вебжурнал відпусток
    link(rel='icon', type='image/x-icon', href='./favicon.ico')
    meta(charset="utf-8")
    link(rel="stylesheet", href="w3.css")
    link(rel="stylesheet", href="style.css")
    script(src="jquery.js")
    style.
body
    div.w3-bar.w3-amber.w3-large
        button.w3-bar-item.w3-button.w3-hover-blue.w3-padding-24.a-font(onclick="document.getElementById('id01').style.display='block'") Новий користувач
        if worker 
            button.w3-bar-item.w3-button.w3-hover-green.w3-padding-24.a-font(onclick="document.getElementById('id02').style.display='block'") Додати відпустку
        include ./partials/modals
        +modalVacation(worker)
        
        div#temp-message
        form(action="/search" method="GET")
            input.w3-bar-item.w3-input.w3-margin.input(type="text" name="query" placeholder="Введіть П.І.Б.")

    div.w3-container
        - const today = new Date();  // Get the current date
        if worker
            if isOnVacation
                div.w3-tag.w3-red.w3-margin.w3-round.w3-right
                    div.w3-tag.w3-red(style="border-radius: 15px;") У відпустці
            else
                div.w3-tag.w3-green.w3-margin.w3-round.w3-right
                    div.w3-tag.w3-green Працює зараз
        
        if worker
            - const id = worker.worker_uuid;
            h3 #{worker.second_name} #{worker.name} #{worker.middle_name} 
            h3#worker-id #{id}   
        else 
            h3 Прізвище Ім'я По-батькові ID
        //- Outputting current date
        //- div#current-date
        //-     | #{today.getFullYear()}
        //- div#current-date= new Date().toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })
        
        //- div.w3-margin Статистика, залишки, періоди

        div.w3-bar.w3-black
            button.w3-bar-item.w3-button.tablink.w3-amber(onclick="openVac(event,'Main_vac')") Основна відпустка
            button.w3-bar-item.w3-button.tablink(onclick="openVac(event,'Extra_vac')") Додаткова відпустка
            button.w3-bar-item.w3-button.tablink(onclick="openVac(event,'Soc_vac')") Соціальна відпустка
            button.w3-bar-item.w3-button.tablink(onclick="openVac(event,'PC_vac')") Робота за ПК
        
        include ./partials/vacationTable
        - const currentYear = new Date().getFullYear();
        - const lastThreeYears = [currentYear, currentYear - 1, currentYear - 2];
        div#Main_vac.vacation
            if worker
                each year in lastThreeYears
                    - const yearData = vacationData && vacationData[year] && vacationData[year]['main_vacation'];
                    +renderVacationTable(yearData, year)
            else 
                p Немає даних про відпустки

        //- For Extra Vacation
        div#Extra_vac.vacation(style="display:none")
            if worker
                each year in lastThreeYears
                    - const yearData = vacationData && vacationData[year] && vacationData[year]['extra_vacation'];
                    +renderVacationTable(yearData, year)
            else 
                p Немає даних про відпустки

        //- For Social Vacation
        div#Soc_vac.vacation(style="display:none")
            if worker
                each year in lastThreeYears
                    - const yearData = vacationData && vacationData[year] && vacationData[year]['social_vacation'];
                    +renderVacationTable(yearData, year)
            else 
                p Немає даних про відпустки

        //- For PC Vacation
        div#PC_vac.vacation(style="display:none")
            if worker
                each year in lastThreeYears
                    - const yearData = vacationData && vacationData[year] && vacationData[year]['pc_vacation'];
                    +renderVacationTable(yearData, year)
            else 
                p Немає даних про відпустки

script(src="main.js")
script.
        // JavaScript code to display and remove the temporary message
    document.addEventListener('DOMContentLoaded', function() {
      var tempMessage = document.getElementById('temp-message');
      var isTemporary = '#{messages.isTemporary}'; // Передайте прапор isTemporary з бекенду
      var isError = '#{messages.isError}'; // Передайте прапор isError з бекенду
  
      if (isTemporary) {
          if (isError) {
          tempMessage.textContent = '#{messages.error}'; // Відображаємо повідомлення про помилку з бекенду
          tempMessage.style.backgroundColor = 'red'; // Налаштовуємо колір тексту на червоний для помилки
          } else {
          tempMessage.textContent = '#{messages.success}'; // Відображаємо повідомлення про успіх з бекенду
          }
  
          tempMessage.style.display = 'block';
  
          setTimeout(function() {
          tempMessage.style.display = 'none';
          }, 3000); // Приховуємо повідомлення після 3 секунд
      }
   });
