//- table_template.pug file
mixin generateTable({ year, vacationType, vacationData })
  div.tab-content.active
    div.w3-responsive.w3-hoverable.w3-border
      table.w3-table-all.w3-centered.w3-striped.w3-border
        thead
          tr
            th
            th(colspan="15") Номер відпустки
          tr
            th
              each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                th Відп. #{val}
        tbody
          each vacationRecord in vacationData
            tr
              th= vacationRecord.worker_uuid
              td= vacationRecord.reason_vac
              td= vacationRecord.from_vac
              td= vacationRecord.to_vac
              td= vacationRecord.days_vac
